html , body{
    height: 100%;
}
.icon{
    background: url(../images/img/sprite_login.gif) no-repeat center;
}
#wrapper{
    width: 100%;
    min-height: 100%;
    background-color: #f9f9f9;
    overflow: hidden;
}
#main_wrapper{
    min-height: 548px;
    margin-top: 45px;
}
.main{
    width: 854px;
    min-height: 548px;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}
.main .caption , .main .register_logo{
    text-align: center;
}
.main .register_logo{
    margin-top:50px; 
}
.main .register_logo p{
    width: 49px;
    height: 48px;
    background: url(../images/img/milogo.png) center;
    margin: 0 auto;
    font-size: 30px;
}
.main .caption{
    margin: 40px 0;
}
.main .main_from{
    width: 358px;
    margin: 0 auto;
}
.main .main_from input{
    width: 356px;
    height: 48px;
    border: 0;
    border: solid 1px #e0e0e0;
    padding-left: 14px;
    box-sizing: border-box;
}
.main .main_from #pwd{
    margin-top: 14px;
}
.main .main_from .input_click{
    border: solid 1px #f56700;
}
.main .main_from .form_hint{
    min-width: 68px;
    height: 14px;
    margin: 18px 0;
}
.main .main_from .btn{
    width: 358px;
    height: 50px;
    border: 0;
    background-color: #ef5b00;
    color: #ffffff;
}
.main .main_code .code{
    display: block;
    width: 68px;
    height: 68px;
    background-position: 0 0;
    position: absolute;
    right: 0;
    top: 0;
}
.main .main_hint{
    width: 358px;
    margin: 14px auto;
}
.main .main_hint .mh_left{
    float: left;
}
.main .main_hint .mh_left{
   color: #ef5b00;
}
.main .main_hint .mh_right{
    float: right;
}
.main .main_hint .mh_right a{
    color: #757575;
}
.main .main_from  .plaint{
    width: 14px;
    height: 14px;
    display: none;
    background-position: 0 -69px;
    margin-bottom: -2px;
}
.main .main_from .sp_st{
    color:#ff6700;
}
fieldset{
    border: 0;
}
.main .other_login{
    width: 358px;
    margin: 0 auto;
    padding: 24px 0;
}
.main .other_login .prompt_line{
    border-top: 1px solid #e0e0e0;
    text-align: center;
}
.main .other_login .ic_font{
    margin: 24px 0;
    text-align: center;
}
.main .other_login .ic_font a{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #0288d1;
    border-radius:50%; 
    text-align: center;
    margin: 0 14px;
}
.main .other_login .ic_font .icf_qq i{
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 14px;
    color: #ffffff;
}
.main .other_login .ic_font .icf_weibo i{
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 14px;
    color: #ffffff;
}
.main .other_login .ic_font .icf_zhifubao i{
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 14px;
    color: #ffffff;
}
.main .other_login .ic_font .icf_weixin i{
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 14px;
    color: #ffffff;
}

#footer_wrapper{
    margin-top: 10px;
    margin-bottom: 28px;
}
.footer{
    height: 80px;
    text-align: center;
}
.footer .footer_top{
    text-align: center;
    padding: 18px 0;
}
.footer .footer_top li{
    display: inline-block;
}
.footer .footer_top li a{
    color: #757575;
}
.footer .footer_top li .Simplified{
    color: #000000;
}
.footer .footer_bottom .adders{
    color: #9d9d9d;
}
.footer .footer_bottom .adders a{
    color: #9d9d9d;
}
.footer .footer_bottom .adders span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/img/ghs.png) center no-repeat;
}