html , body{
    height: 100%;
}
#wrapper{
    width: 100%;
    min-height: 100%;
    background-color: #f9f9f9;
    overflow: hidden;
}
#main_wrapper{
    min-height: 548px;
    margin-top: 45px;
}
.main{
    width: 854px;
    min-height: 548px;
    margin: 0 auto;
    background-color: #ffffff;
}
.main .caption , .main .register_logo{
    text-align: center;
}
.main .register_logo p{
    width: 49px;
    height: 48px;
    background: url(../images/img/milogo.png) center;
    margin: 0 auto;
    font-size: 30px;
}
.main .caption{
    margin: 40px 0;
}
#footer_wrapper{
    margin-top: 10px;
    margin-bottom: 28px;
}
.footer{
    height: 80px;
    text-align: center;
}
.footer .footer_top{
    text-align: center;
    padding: 18px 0;
}
.footer .footer_top li{
    display: inline-block;
}
.footer .footer_top li a{
    color: #757575;
}
.footer .footer_top li .Simplified{
    color: #000000;
}
.footer .footer_bottom .adders{
    color: #9d9d9d;
}
.footer .footer_bottom .adders a{
    color: #9d9d9d;
}
.footer .footer_bottom .adders span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/img/ghs.png) center no-repeat;
}